@import "tailwindcss";

@theme {
  --breakpoint-xs: 0rem;
}

:root[data-theme="light"] {
  --bg-primary: #ffffff;
  --bg-secondary: whitesmoke;
  --text-primary: #000000;
  --text-secondary: #4b5563;
  --border-color: #cccccc;
}

:root[data-theme="dark"] {
  --bg-primary: #1a1a1a;
  --bg-secondary: #2d2d2d;
  --text-primary: #ffffff;
  --text-secondary: #a0aec0;
  --border-color: #404040;
}

body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  scrollbar-gutter: stable;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
