[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uagents = "==0.21.0"
pydantic-settings = "==2.8.1"
aiohttp = {extras = ["speedups"], version = "==3.11.14"}

[dev-packages]

[requires]
python_version = "3.11"
