[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uagents = "==0.21.0"
pydantic-settings = "==2.8.1"
boto3 = "==1.37.28"
ratelimit = "==2.2.1"
openai = "==1.91.0"

[dev-packages]

[requires]
python_version = "3.11"
